<link rel="stylesheet" href="/data_siswa/p_kls/p_kls.css">
<div id="kelasPanel" class="p-kls-container">
    <div class="tingkat-selection">
        <div class="active-indicator"></div>
        <button class="tingkat-item active" data-tingkat="X">Kelas X</button>
        <button class="tingkat-item" data-tingkat="XI">Kelas XI</button>
        <button class="tingkat-item" data-tingkat="XII">Kelas XII</button>
        <button class="tingkat-item" data-tingkat="XIII">Kelas XIII</button>
    </div>

    <p class="pilih-label">Pilih rombel kelas untuk melihat data siswa dari setiap kelas</p>

    <div id="kelasButtons" class="rombel-row"></div>
</div>
<script src="/data_siswa/p_kls/p_kls.js"></script>